@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
    background-color: #111111;
    color: white;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-family: "Noto Sans JP", serif;
    padding-left: 1%;
    padding-right: 1%;
}

/* FONTS */

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* HEADER */

.header {
    display: flex;
}

.header-first {
    flex: 4;
}

.header-middle {
    flex: 6;
    text-align: center;
}

.header-last {
    flex: 4;
    text-align: right;
}

.header-object {
    /* background-color: grey; */
    color: antiquewhite;
    margin: 0px;
    padding: 10px;
    width: 200px;
}

hr {
    height: 0;
    border-color: grey;
    border-top-width: 1px;
}

/* BODY */

.body {
    padding-left: 5px;
    display: flex;
    gap: 50px;
}

.body > div > h1 {
    color: grey;
    font-weight: 500;
    font-size: 10px;
    margin: 0px;
}

.body-text {
    color: white;
    font-weight: 200;
    font-size: 16px;
    margin: 0px;
    padding-top: 1%;
}

.paragraph-text {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    tab-size: 3;
    line-height: 200%;
}

.about {
    flex: 3;
    text-align: left;
}

.experiences {
    flex: 2;
    text-align: right;
}

.invisible {
    visibility: hidden;
}

/* MAIN */

.main {
    display: flex;
    gap: 1.3rem;
    flex-wrap: wrap;
    position: relative;
}

/*
.column {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    flex: 5;
    width: 100%;
}
*/

.piece {
    flex-direction: column;
    cursor: pointer;
    gap: 1.3rem;
    opacity: 1;
    display: inline-block;
    flex-grow: 1;
}

.project {
    flex-direction: column;
    cursor: pointer;
    gap: 1.3rem;
    width: 30%;
    opacity: 1;
    display: inline-block;
    flex-grow: 1;
}

@media (max-aspect-ratio: 1/1) {
    .project {
        width: 60%;

    }
}

/* TEXT */
a {
    text-decoration: none;
    color: inherit;
}

.title > h1,h2 {
    margin: 0px;
    text-decoration: none;
    user-select: none;
}

.title > h1 {
    color: white;
    font-weight: 200;
    font-size: 13px;
    text-transform: uppercase;
}

.title > h2 {
    color: grey;
    font-weight: 500;
    font-size: 10px;
}

.image {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
    object-fit: fit;
    border-radius: 5%;
}

.image:hover {
    opacity: 0.8;
}

/* FOOTER */

footer {
    display: flex;
    padding: 2px;
    background: grey;
}

.footer-object {
    text-align: center;
    color: whitesmoke;
    font-size: 10px;
    opacity: 0.3;
}

.footer-first {
    background-color: grey;
    flex: 4;
    text-align: left;
}

.footer-two {
    background-color: grey;
    flex: 4;
    text-align: middle;
}

.footer-three {
    background-color: yellow;
    flex: 4;
    text-align: middle;
}

.footer-four {
    background-color: green;
    flex: 4;
    text-align: middle;
}

.footer-five {
    background-color: blue;
    flex: 4;
    text-align: middle;
}

.footer-last {
    background-color: grey;
    flex: 4;
    text-align: right;
}

.footer-light-green {
    background-color: lightgreen;
}

::-webkit-scrollbar {
    display: none;
}

/* COLORS */

.sky-blue {
    background-color: #769fb0;
}

.light-grey {
    background-color: lightgrey;
}

.pixelated {
    image-rendering: pixelated;
}